[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ko-Sit
[access "refs/for/refs/*"]
	read = group user/Ko-Sit
	push = group user/Ko-Sit
	label-Code-Review = -2..+2 group user/Ko-Sit
	label-Verified = -1..+1 group user/Ko-Sit
	rebase = group user/Ko-Sit
	removeReviewer = group user/Ko-Sit
	submit = group user/Ko-Sit
[access "refs/heads/*"]
	read = group user/Ko-Sit
	create = group user/Ko-Sit
	push = +force group user/Ko-Sit
	pushMerge = group user/Ko-Sit
[access "refs/tags/*"]
	push = +force group user/Ko-Sit
	pushTag = group user/Ko-Sit
	pushSignedTag = group user/Ko-Sit
